.cel-box {
  --cel-box-color-base: hsl(224 20% 60%);
  --cel-box-color-accent: hsl(256 80% 80%);
  --cel-box-color-accent-valid: #2fbf2f;
  --cel-box-color-accent-invalid: #bf2f2f;
  --cel-box-color-dark: hsl(from var(--cel-box-color-base) h s 20%);
  --cel-box-color-medium: hsl(from var(--cel-box-color-base) h s 75%);
  --cel-box-color-medium-light: hsl(from var(--cel-box-color-base) h s 85%);
  --cel-box-color-lightish: hsl(from var(--cel-box-color-base) h s 95%);
  --cel-box-color-light: hsl(from var(--cel-box-color-base) h s 97%);
  --cel-box-color-lighter: hsl(from var(--cel-box-color-base) h s 98%);
  --cel-box-color-lightest: hsl(from var(--cel-box-color-base) h s 99%);
}

.cel-box[data-theme="dark"] {
  --cel-box-color-base: hsl(224 20% 60%);
  --cel-box-color-accent: hsl(256 80% 80%);
  --cel-box-color-accent-valid: #47e147;
  --cel-box-color-accent-invalid: #f48888;
  --cel-box-color-dark: hsl(from var(--cel-box-color-base) h s 95%);
  --cel-box-color-medium: hsl(from var(--cel-box-color-base) h s 65%);
  --cel-box-color-medium-light: hsl(from var(--cel-box-color-base) h s 45%);
  --cel-box-color-lightish: hsl(from var(--cel-box-color-base) h s 30%);
  --cel-box-color-light: hsl(from var(--cel-box-color-base) h s 25%);
  --cel-box-color-lighter: hsl(from var(--cel-box-color-base) h s 20%);
  --cel-box-color-lightest: hsl(from var(--cel-box-color-base) h s 10%);
}

.cel-box {
  --cel-box-color-border: var(--cel-box-color-medium-light);
  --cel-box-color-tint-dark: hsla(
    from var(--cel-box-color-dark) h calc(3 * s) l / 15%
  );
  --cel-box-color-tint-medium: hsla(
    from var(--cel-box-color-dark) h calc(3 * s) l / 10%
  );
  --cel-box-color-tint-light: hsla(
    from var(--cel-box-color-dark) h calc(3 * s) l / 5%
  );

  --cel-box-padding: 8px;
  --cel-box-border-width: 1px;
  --cel-box-border: var(--cel-box-border-width) solid
    var(--cel-box-color-border);
  --cel-box-radius: calc(var(--cel-box-padding) * 2);

  --cel-box-area-background: var(--cel-box-color-lightish);
  --cel-box-area-border-width: 2px;
  --cel-box-area-border: var(--cel-box-area-border-width) solid
    var(--cel-box-color-border);
  --cel-box-area-padding: var(--cel-box-padding);
  --cel-box-area-radius: calc(var(--cel-box-padding));

  --cel-box-content-height: 5.5lh;
  --cel-box-content-computed-height: calc(
    var(--cel-box-content-height) + var(--cel-box-border-width)
  );

  --cel-box-shadow: 0px 2px 2px var(--cel-box-color-tint-medium);
  --cel-box-shadow-deep: 0px 4px 8px var(--cel-box-color-tint-dark);
  --cel-box-icon-mask: center/0.75lh no-repeat;

  background: var(--cel-box-color-light);
  border-radius: var(--cel-box-radius);
  border: var(--cel-box-border);
  box-shadow: var(--cel-box-shadow);
  color: var(--cel-box-color-dark);
  display: block;
  font-family: monospace;
  font-size: 100%;
  interpolate-size: allow-keywords;
  line-height: 180%;
  margin: 1rem 0;
  padding-bottom: 0;
  padding: var(--cel-box-padding);
  text-wrap: nowrap;
  transition: box-shadow 0.25s ease-in-out;

  &:focus-within {
    box-shadow: var(--cel-box-shadow-deep);
  }

  & div {
    box-sizing: border-box;
  }

  & .cel-box-area,
  & .cel-box-code {
    background: var(--cel-box-area-background);
    border-radius: var(--cel-box-area-radius);
    border: var(--cel-box-area-border);
  }

  & .cel-box-area {
    contain: content;
    overflow: hidden;
    margin-bottom: var(--cel-box-area-padding);
  }

  & .cel-box-expr .cel-box-code {
    margin-bottom: 0;
  }

  & .cel-box-error,
  & .cel-box-result {
    white-space: wrap;
    overflow-x: auto;
  }

  & .cel-box-code,
  & .cel-box-error,
  & .cel-box-result {
    padding: var(--cel-box-area-padding);
    padding-bottom: 0;
  }

  & .cel-box-result {
    display: none;
  }

  & .cel-box-error {
    color: var(--cel-box-color-accent-invalid);
    display: none;
    padding-left: 0;
    text-indent: calc(1lh + var(--cel-box-area-padding) / 2) hanging;

    &::before {
      background: var(--cel-box-color-accent-invalid);
      content: "(Error)";
      display: inline-block;
      height: 1lh;
      margin-right: calc(var(--cel-box-area-padding) / 2);
      mask: var(--cel-box-icon-warning-circle) var(--cel-box-icon-mask);
      user-select: text;
      vertical-align: middle;
      width: 1lh;
    }
  }

  &.cel-box-has-error .cel-box-error {
    display: block;
  }

  &.cel-box-has-result .cel-box-result {
    display: block;
  }

  & .cel-box-code {
    background: var(--cel-box-color-lightest);
    overflow-x: hidden;
    padding: calc(var(--cel-box-area-padding) / 2) var(--cel-box-area-padding);
    white-space: pre;
  }

  & .cel-box-code:focus {
    border-color: var(--cel-box-color-accent);
    box-shadow: var(--cel-box-shadow);
    outline: none;
  }

  &.cel-box-has-error .cel-box-code {
    border-color: var(--cel-box-color-accent-invalid);
  }
}
