        .cel-box {
          display: block;
          background-color: var(--cel-box-background-color);
          border: 1px solid var(--cel-box-border-color);
          box-shadow: var(--cel-box-shadow);
          border-radius: 12px;
          padding: 8px;
          padding-bottom: 0;
          margin: 2em 0;
          text-wrap: nowrap;
          font-family: monospace;
          font-size: 100%;
          line-height: 180%;
          --cel-box-background-color: hsl(224, 19%, 97%);
          --cel-box-background-color-variant: hsl(224, 19%, 98%);
          --cel-box-border-color: hsl(224, 19%, 90%);
          --cel-box-content-background-color: #fff;
          --cel-box-content-height: 1lh;
          --cel-box-content-padding: 8px;
          --cel-box-content-border-width: 2px;
          --cel-box-content-computed-height: calc(1lh + 2 * var(--cel-box-content-padding) + 2 * var(--cel-box-content-border-width));
          --cel-box-shadow: 0px 1px 1px hsla(0, 0%, 0%, 0.06), 0px 2px 1px hsla(0, 0%, 0%, 0.06);
        }

        .cel-box div {
          box-sizing: border-box;
        }

        .cel-box-content h4 {
          margin: 0;
          padding: var(--cel-box-content-padding);
          padding-top: 0;
          padding-bottom: 4px;
          text-align: center;
          color: #666;
        }

        .cel-box-code {
          border: var(--cel-box-content-border-width) solid var(--cel-box-border-color);
          border-radius: 8px;
          background: #fff;
          white-space: pre;
        }

        .cel-box-code:focus {
          border-color: #bbb;
          outline: none;
          box-shadow: var(--cel-box-shadow);
        }

        .cel-box-expr {
          border-radius: 8px;
        }

        .cel-box-expr .cel-box-code,
        .cel-box-error,
        .cel-box-result {
          outline: none;
          margin: 0;
          margin-bottom: var(--cel-box-content-padding);
          width: 100%;
          overflow-x: scroll;
          padding: var(--cel-box-content-padding);
        }

        .cel-box-error,
        .cel-box-result {
          margin-top: 0;
          padding-top: 0;
          border-top: 0px;
          display: none;
          padding-bottom: 0;
          white-space: pre;
        }

        .cel-box-has-error .cel-box-error {
          display: block;
          color: #c00;
        }

        .cel-box-has-result .cel-box-result {
          display: block;
        }

        .cel-box-has-error .cel-box-expr .cel-box-code {
          border-color: #c00;
        }

        .cel-box-has-error .cel-box-output .cel-box-code {
          opacity: 50%;
        }

        .cel-box-content .cel-box-code {
          padding: var(--cel-box-content-padding);
          min-height: var(--cel-box-content-computed-height)
        }
